@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h3>KKPortal</h3>
    <p class="lead"></p>
    <p class="lead">Stay up to date !!!.</p>
    @Html.ActionLink("Learn More", "About", "Home", new { @class = "btn btn-primary btn-lg" })

</div>

<div class="row">
    <div class="panel panel-info col-md-3 " style="height: 200px">
        <div class="panel-heading">KKInvoice</div>
        <div class="panel-body" style="height: 100px">
            Fully functional  web-based invoice managing software
        </div>
        <div class="panel-footer">
            <input type="button" value="To KKInvoice" onclick="location.href = '@Url.Action("Index", "Invoices", new {area = "Invoice"})'" class="btn btn-default">
        </div>
    </div>


<div class="panel panel-info col-md-3 col-sm-offset-1" style="height: 200px">
    <div class="panel-heading">KKWarehouse</div>
    <div class="panel-body" style="height: 100px">
        Fully functional  web-based warehouse system
    </div>
    <div class="panel-footer">
        <input type="button" value="To KKInvoice" onclick="location.href = '@Url.Action("Index", "Invoices", new {area = "Invoice"})'" class="btn btn-default">
    </div>
</div>


<div class="panel panel-info col-md-3 col-sm-offset-1" style="height: 200px">
    <div class="panel-heading">KKPOS</div>
    <div class="panel-body" style="height: 100px">
        Fully functional  web-based point of sell system
    </div>
    <div class="panel-footer">
        <input type="button" value="To KKInvoice" onclick="location.href = '@Url.Action("Index", "Invoices", new {area = "Invoice"})'" class="btn btn-default">
    </div>
</div>
    </div>
