@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>KK Portal</h1>
    <p class="lead">Enjoy using software as a service. Do not buy useless software, by only the permision to user it.</p>
    <p class="lead">Stay up to date !!!.</p>
    @Html.ActionLink("Learn More", "About", "Home", new { @class = "btn btn-primary btn-lg" })

</div>

<div class="row">
    <div class="innerbox panel panel-info col-md-3 panel-body">
        <h2>Getting started</h2>
        <p>
            Please register or login to browse our software packages.
        </p>
        <p><a class="btn btn-info" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a>
        </p>
    </div>
    <div class="col-md-1 ">
    </div>
    <div  class="innerbox panel panel-info col-md-3 panel-body">
        <h2>Dare for more</h2>
        <p>You can manage your personal subscription and be sure you are using lastest version of our products</p>
        <p><a class="btn btn-info" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a>
        </p>
    </div>
    <div class="col-md-1 ">
    </div>
    <div " class="innerbox panel panel-info col-md-3 panel-body">
        <h2>Resume</h2>
        <p>We can provide you all kinds of bussines software from invoice maker to complete inventoring system as well as
            fully customized enterprise solutions.</p>
        <p><a class="btn btn-info" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a>
        </p>
    </div>
</div>